<form action="#" class="new-message">
    <label>
        <span>Receiver Email</span>
        <input type="email" id="email">
    </label>
    <label>
        <span>Title</span>
        <input type="text" id="title">
    </label>
    <label>
        <textarea id="msg-content"></textarea>
    </label>
    <button id="send-message" onclick="sendNewMessage()">Send</button>
</form>